/************************************************************
** 请将全局样式拷贝到项目的全局 CSS 文件或者当前页面的顶部 **
** 否则页面将无法正常显示                                  **
************************************************************/

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', 'Microsoft Yahei', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    flex-shrink: 0;
}

#app {
    width: 100vw;
    height: 100vh;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-start {
    display: flex;
    justify-content: flex-start;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.justify-end {
    display: flex;
    justify-content: flex-end;
}

.justify-evenly {
    display: flex;
    justify-content: space-evenly;
}

.justify-around {
    display: flex;
    justify-content: space-around;
}

.justify-between {
    display: flex;
    justify-content: space-between;
}

.items-start {
    display: flex;
    align-items: flex-start;
}

.items-center {
    display: flex;
    align-items: center;
}

.items-end {
    display: flex;
    align-items: flex-end;
}
/********************************/
.wx-flex {
    display: flex;
}
.wx-flex-auto {
    flex: 1;
}
.wx-flex-sb {
    justify-content: space-between;
}
.wx-flex-column {
    flex-direction: column;
}

.identicon {
    padding: 5px;
    background: #eee;
    display: inline-block;
}
.identicon:after {
    content: '';
    clear: both;
    display: block;
}
.identicon div {
    float: left;
    height: 5px;
    background: #eee;
    width: 5px;
    float: left;
}
.identicon div:nth-child(5n + 1) {
    clear: both;
}
.identicon div[data='1'] {
    background: red;
}
.identicon div[data='0'] {
    background: #eee !important;
}

.popover-action {
    background-color: #4a4a4a;
    color: #ffffff;
    font-size: 14px;
    padding: 6px 10px;
    display: flex;
    .line {
        color: #ffffff;
        margin: 0 12px;
    }
}

.van-field__control {
    border: 1px solid #c0c0c0;
    padding: 1px;
}

.gm-style {
    font-family: puhuiti-2-55;
}

.swiper {
    width: 100%;
    height: 270px;
    z-index: 0;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@bullet-size:8px;
.swiper-pagination-bullet {
    top:4px;
    width: @bullet-size;
    height: @bullet-size;
    background: #00000094;
}

.swiper-pagination-bullet-active {
    width: @bullet-size;
    height: @bullet-size;
    background: #FFFFFF;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 10px;
    left: 50%;
    width: auto;
    transform: translateX(-50%) translateY(-40px);
    background: #9090903a;
    border-radius: 8px;
    height: 15px;
    line-height: 17px;
}
